@use '../../styles/variables' as global;

.container {
  max-width: global.$lg;
  margin: 2rem auto;

  form {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: 90%;
      height: 50px;
      background-color: global.$bg_field;
      border: 1px solid global.$border_color;
      border-radius: global.$rounded_md;
      padding: 0 0.625rem;
      color: white;
      transition: border 0.1s ease-out;

      &:focus {
        border-color: #777;
      }
    }

    button {
      flex: 1;
      margin-left: 0.5rem;
      height: 50px;
      border: none;
      border-radius: global.$rounded_md;
      font-size: 1.5rem;
      background-color: global.$bg_button;
      filter: brightness(0.9);
      transition: filter 0.1s ease-out;

      &:hover {
        filter: brightness(1);
      }
    }
  }
}

.content {
  background-color: global.$bg_content;
  border-radius: global.$rounded_md;
  padding: 2rem;
}
