@use '../../styles/variables' as global;

.container {
  max-width: global.$lg;
  margin: 2rem auto;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.03));

  form {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: 90%;
      height: 50px;
      background-color: global.$bg_field;
      border: 1px solid global.$border_color;
      border-radius: global.$rounded_md;
      padding: 0 0.625rem;
      color: global.$text_strong;
      transition: border 0.1s ease-out;

      &:focus {
        border-color: rgb(170, 173, 177);
      }
    }

    button {
      flex: 1;
      margin-left: 0.5rem;
      height: 50px;
      border: none;
      border-radius: global.$rounded_md;
      font-size: 1.5rem;
      background-color: global.$bg_button;
      opacity: 0.8;
      transition: opacity 0.1s ease-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.content {
  background-color: global.$bg_content;
  border-radius: global.$rounded_md;
  padding: 2rem;
}
