$bg_color: #f2f6fc;
$bg_header: #141a29;
$bg_content: #fff;
$bg_field: #fafafa;
$bg_button: #ffb800;
$border_color: rgb(216, 216, 216);
$text: #85888d;
$text_strong: #1a2235;
$text_highlighted: #04dd75;

$red_500: rgb(255, 46, 46);

/*
  DEFAULT COLORS
  ================================================

  $bg_color: #f2f6fc;
  $bg_header: #141a29;
  $bg_content: #17181f;
  $bg_field: #20212c;
  $bg_button: #ffb800;
  $border_color: #424242;
  $text_primary: #141a29;
  $text_highlighted: #04dd75;
  $red_500: rgb(255, 46, 46);
*/

//MAX WIDTH
//================================================
$lg: 70rem; // 1120px
$md: 43.75rem; // 700px

//BORDER RADIUS
//================================================
$rounded_md: 6px;
$rounded_full: 50%;
