$bgColor: #f2f6fc;
$bgHeaderColor: #141a29;
$textPrimary: #141a29;
$textHightLight: #04dd75;

//////////////////////////////////////////////////////
/////////////////////////////////////////////////////
$lg: 70rem; // 1120px
$md: 43.75rem; // 700px
