@use '../../../styles/variables' as global;

.container {
  max-width: global.$lg;
  margin: 2rem auto;
}

.card {
  background-color: global.$bg_field;
  border-radius: global.$rounded_md;
  filter: drop-shadow(10px 2px 10px rgba(0, 0, 0, 0.03));
  padding: 2rem;

  header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: global.$text;

    svg {
      font-size: 1.25rem;
    }

    time {
      color: global.$bg_button;
    }
  }

  p {
    margin-top: 2rem;
    color: global.$text_strong;
    line-height: 1.5rem;
  }
}
