.authButton {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  transition: filter 0.1s ease-out;

  img {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
  }

  &:hover {
    filter: brightness(0.8);
  }

  svg {
    font-size: 1.25rem;
  }
}
